@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 50px 0 45px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item + .menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        @extend %rubik-500;
        color: $default;
        font-size: 15px;
        line-height: 12px;
    }
}

.user-nav {
    display: flex;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 178px;
        background-color: #fcd7b6;
        border-radius: 25px;
        padding: 9px 0 10px;
        margin: 0 20px;
    }

    &__link-search {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #edf1f4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link-heart {
        padding: 0 30px;
        border-right: 1px solid #fde7d3;
        height: 32px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__link-cart {
        padding: 0 30px;
        height: 32px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__sum {
        position: absolute;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 16px;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        color: #243f4d;
        background-color: #fff;
        text-align: center;
        right: 20px;
        top: 0;
    }

    &__link-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #a3bbc8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    border-bottom: 1px solid #dae4e9;

    &__contact {
        width: 200px;
    }

    &__logo {
        display: block;
        margin-bottom: 25px;
    }

    &__adress,
    &__phone,
    &__email {
        display: inline-block;
        font-size: 14px;
        line-height: 24px;
        color: #7b7b7b;
        margin-bottom: 10px;
    }

    &__nav {
        width: 170px;
    }

    &__title {
        @extend %dmsans-700;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        margin: 15px 0 20px;
    }

    &__link {
        font-size: 14px;
        line-height: 32px;
        color: #7b7b7b;
    }

    &__item-form {
        width: 270px;
    }

    &__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        border: none;
        background-color: #fef7f0;
        padding: 4px 10px 4px 15px;
        outline: none;
        max-width: 170px;
        
        &::placeholder {
            font-size: 12px;
            color: #234969;
        }
    }

    &__form-btn {
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 8px 15px;
        background-color: #a3bbc8;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    &__copy {
        font-size: 14px;
        line-height: 32px;
        color: #7b7b7b;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-link {
        font-size: 14px;
        line-height: 18px;
        color: #7b7b7b;
        padding: 0 14px;
    }

    &__nav-item + .footer-bottom__nav-item .footer-bottom__nav-link {
        border-left: 1.5px solid #7b7b7b;
    }
}

.top-slider {

    &__wrapper {
        background-image: url(../images/slider/top-slider-bg.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        padding-top: 200px;
        position: relative;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 250px;
    }

    &__title {
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        max-width: 420px;
        margin-bottom: 30px;
    }

    &__text {
        font-size: 18px;
        max-width: 370px;
        margin-bottom: 35px;
    }

    &__btn {
        display: block;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        color: #fff;
        background-color: #a3bbc8;
        padding: 22px 60px 22px 28px;
        max-width: 200px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 22px;
            height: 9px;
            background-image: url(../images/icons/arrow-right.svg);
            right: 19px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .slick-dots {
        display: flex;
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);

        li {
            padding: 0 5px;

            button {
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                background-color: #fde3cc;
                @extend %rubik-500;
                font-size: 11px;
                color: #243f4d;
                outline: none;
                transition: all .3s;
            }

            &.slick-active {
                button {
                    background-color: #fff;
                }
            }
        }
    }
}

.advantages {
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 45px 0;
        background-color: #fef7f0;
    }

    &__item {
        max-width: 300px;
        width: 100%;
        padding-left: 80px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 52px;
            height: 54px;
            background-image: url(../images/icons/advantages-1.png);
            left: 0;
            top: 0;
        }
    }

    &__item-delivery::before {
        width: 55px;
        height: 37px;
        background-image: url(../images/icons/advantages-2.png);
    }

    &__item-payment::before {
        width: 54px;
        height: 53px;
        background-image: url(../images/icons/advantages-3.png);
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 20px;
        color: #414141;
        margin-bottom: 10px;
    }

    &__item-text {
        @extend %dmsans-400;
        color: #585858;
    }
}

.products {
    padding: 70px 0 140px;

    &__buttons {
        text-align: center;
        margin-bottom: 75px;
    }

    &__btn {
        display: inline-block;
        border: none;
        background-color: transparent;
        @extend %dmsans-700;
        color: #8b8b8b;
        cursor: pointer;
        transition: all .3s;

        &.mixitup-control-active {
            color: #191919;
        }
    }

    &__btn + .products__btn {
        margin-left: 15px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 270px;
        width: 100%;
        margin-bottom: 40px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 10px;
        text-align: center;
        min-height: 380px;
        padding-bottom: 110px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

        &:hover .products__item-menu {
            display: flex;
        }
    }

    &__item-box {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 40px;
        color: #243f4d;
    }

    &__item-sum {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 40px;
        color: #a3bbc8;
    }

    &__item-menu {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    &__item-menu-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transition: all .3s;

        &:hover {
            background-color: #a3bbc8;

            path {
                fill: #fff;
            }
        }
    }

    &__item-menu-btn + .products__item-menu-btn {
        margin-left: 15px;
    }
}

.lamps {

    &__inner {
        display: flex;
    }

    &__item {
        max-width: 870px;
        width: 100%;
        background-color: #feefe2;
        display: flex;
        justify-content: center;
        padding: 75px 0 85px;
    }

    &__item-first {
        margin-right: 30px;
    }

    &__item-img {
        margin-top: -175px;
    }

    &__item-box {
        max-width: 295px;
        width: 100%;
        margin-left: 30px;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
        margin-bottom: 10px;
    }

    &__item-text {
        color: #243f4d;
        margin-bottom: 50px;
    }

    &__item-link {
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        color: #436372;
        padding: 20px 60px 20px 20px;
        max-width: 180px;
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 22px;
            height: 9px;
            background-image: url(../images/icons/arrow-right1.svg);
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
        }
    }
}

.design {
    padding: 90px 0 120px;

    &__buttons {
        text-align: center;
        margin-bottom: 75px;
    }

    &__btn {
        display: inline-block;
        border: none;
        background-color: transparent;
        @extend %dmsans-700;
        color: #8b8b8b;
        cursor: pointer;
        transition: all .3s;

        &.mixitup-control-active {
            color: #191919;
        }
    }

    &__btn + .design__btn {
        margin-left: 15px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 34px 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 370px;
        min-height: 246px;
        padding: 35px;
        @extend %dmsans-700;
    }

    &__item-title {
        font-size: 20px;
        color: #191919;
        max-width: 180px;
        margin-bottom: 5px;
    }

    &__item-subtext {
        color: #a3bbc8;
    }
}

.video-popup {
    background-image: url(../images/video-popup-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 185px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}





@import 'media';


  
